{% extends "form_base.html" %}

{% block title %}
		<title>VOCA Form | SAC</title>
{% endblock %}

	<!-- Blocked Content -->
	{% block content %}

	<section id="index-link" class="two">
		<div class="container">

			<header>
				<h2>Clinical VOCA Team Entry Form</h2>
			</header>

			<p>
				For all numeric entries, enter a number 0 or greater. For all text entries (detailing other), enter all other options separated by commas. Enter n/a if no "other". 
			</p>

			<p>
				<b>Note:</b> If uploading data for months not already on the dashboard, please enter data chronologically. 
			</p>

		</div>
	</section>


	<form action = "" method = "post">
		{% csrf_token %}
		<table border = "1">
			{{ form }}
		</table>
		<input type = "submit" value = "Submit">

	</form>

	{% endblock %}