{% extends "mainPage/base.html" %}

{% block content %}
	<!-- Dashboard Title -->
		<section id="index-link" class="two">
			<div class="container">

				<header>
					<h2>Clinical Team Dashboard</h2>
				</header>

			</div>
		</section>
		<canvas id="numberOfPeople" width="50" height="20"></canvas>
		<canvas id="ageOfPeople" width="50" height="20"></canvas>
		<canvas id="numberOfPeopleVOCA" width="50" height="20"></canvas>
		<canvas id="ageOfPeopleVOCA" width="50" height="20"></canvas>


{% endblock content %}

{% block graphs %}
<script>
var ctx = document.getElementById('numberOfPeople').getContext('2d');
var numPeople = new Chart(ctx, {
    type: 'bar',
		data: {
        labels: [{% for key, value in clinicalS.items %} '{{ key }}', {% endfor %}],
        datasets: [{
        label: '# of continuing clients',
        data: [{% for key, value in clinicalC.items %} {{ value }},
							{% endfor %}],
        backgroundColor: "#CD5C5C",
        borderColor: "#EC7063",
        borderWidth: 1
		    }, {
					data: [{% for key, value in clinicalN.items %} {{ value }},
								{% endfor %}],
		      label: "# of new clients",
					backgroundColor : "#FFFFE0" ,
		      borderColor: "#FFFF33",
					borderWidth: 1,
		      fill: false
				}, {
					data: [{% for key, value in clinicalS.items %} {{ value }},
								{% endfor %}],
		      label: "# of Sessions (Total)",
					backgroundColor : "#D2B4DE" ,
		      borderColor: "#8e5ea2",
					borderWidth: 1,
		      fill: false
				}]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }],
						// xAxes: [{
						// 		ticks: {
						// 			maxTicksLimit: 12
						// 		}
						// }]
        },
				title: {
					display: true,
					text: 'Monthly Count of Individuals and Sessions (Clinical)'
				}
    }
});

var agePeople = new Chart(document.getElementById("ageOfPeople"), {
    type: 'doughnut',
    data: {
      labels: ["Age 0-12", "Age 13-17","Age 18-24","Age 25-59","Age 60+"],
      datasets: [{
        label: "Age Groups",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: {{ clinicalAges|safe }}
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Age Group Breakdown (Clinical)'
      }
    }
});

var ctx1 = document.getElementById('numberOfPeopleVOCA').getContext('2d');
var numPeopleVOCA = new Chart(ctx1, {
    type: 'bar',
		data: {
        labels: [{% for key, value in clinicalVocaS.items %} '{{ key }}', {% endfor %}],
        datasets: [{
        label: '# of continuing clients',
        data: [{% for key, value in clinicalVocaC %} {{ value }},
							{% endfor %}],
        backgroundColor: "#CD5C5C",
        borderColor: "#EC7063",
        borderWidth: 1
		    }, {
					data: [{% for key, value in clinicalVocaN.items %} {{ value }},
								{% endfor %}],
		      label: "# of new clients",
					backgroundColor : "#FFFFE0" ,
		      borderColor: "#FFFF33",
					borderWidth: 1,
		      fill: false
				}, {
					data: [{% for key, value in clinicalVocaS.items %} {{ value }},
								{% endfor %}],
		      label: "# of Sessions (Total)",
					backgroundColor : "#D2B4DE" ,
		      borderColor: "#8e5ea2",
					borderWidth: 1,
		      fill: false
				}]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
				title: {
					display: true,
					text: 'Monthly Count of Individuals and Sessions (Clinical VOCA)'
				}
    }
});

var agePeopleVOCA = new Chart(document.getElementById("ageOfPeopleVOCA"), {
	type: 'doughnut',
	data: {
		labels: ["Age 0-12", "Age 13-17","Age 18-24","Age 25-59","Age 60+"],
		datasets: [{
			label: "Age Groups",
			backgroundColor: ["#b654de", "#702f8a","#007377","#13bcbf","#ffd100"],
			data: {{ clinicalVocaAges|safe }},
		}]
	},
	options: {
		layout: {
			padding: {
				left: 20,
				right: 20,
				top:0,
				bottom: 50
			}
		},
		title: {
			display: true,
			text: 'Age Group Breakdown (Clinical VOCA)'
		}
	}
});

clean(numPeople);
clean(numPeopleVOCA);

</script>
{% endblock graphs %}
