{% extends "mainPage/base.html" %}

{% block title %}
	<title>Clinical Dashboard | SAC</title>		
{% endblock title %}

{% block content %}
	<!-- Dashboard Title -->
		<section id="index-link" class="two">
			<div class="container">

				<header>
					<h2>Clinical Team Dashboard</h2>
				</header>

			</div>
		</section>
		<canvas id="numberOfPeople" width="50" height="20"></canvas>
		<canvas id="ageOfPeople" width="50" height="20"></canvas>
		<canvas id="numberOfPeopleVOCA" width="50" height="20"></canvas>
		<canvas id="ageOfPeopleVOCA" width="50" height="20"></canvas>
{% endblock content %}

{% block graphs %}
<script>
var ctx = document.getElementById('numberOfPeople').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for item in clinical %} '{{item.entry_date}}', {% endfor %}],
        datasets: [{
						label: '# of continuing clients',
						data: [{% for item in clinical %} {{item.total_continue}},
									{% endfor %}],
						backgroundColor: "#CD5C5C",
						borderColor: "#EC7063",
						borderWidth: 1
					}, {
						data: [{% for item in clinical %} {{item.total_new}},
									{% endfor %}],
						label: "# of new clients",
						backgroundColor : "#FFFFE0" ,
						borderColor: "#FFFF33",
						borderWidth: 1,
						fill: false
					}, {
						data: [{% for item in clinical %} {{item.total_sess}},
									{% endfor %}],
						label: "# of Sessions (Total)",
						backgroundColor : "#D2B4DE" ,
						borderColor: "#8e5ea2",
						borderWidth: 1,
						fill: false
					}]

    },
    options: {
		layout: {
			padding: {
				left: 100,
				right: 100,
				top: 60,
				bottom: 50
			}
		},
		scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
		},
		
		title: {
			display: true,
			fontSize: 18,
			text: 'Monthly Count of Individuals and Sessions (Clinical)'
		}
    }
});

new Chart(document.getElementById("ageOfPeople"), {
    type: 'doughnut',
    data: {
      labels: ["Age 0-12", "Age 13-17","Age 18-24","Age 25-59","Age 60+"],
      datasets: [{
        label: "Age Groups",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: {{ clinicalAges|safe }}
      }]
    },
    options: {
		layout: {
			padding: {
				left: 100,
				right: 100,
				top: 20,
				bottom: 50
			}
		},
		title: {
			display: true,
			fontSize: 18,
			text: 'Age Group Breakdown (Clinical)'
		}
    }
});

var ctx = document.getElementById('numberOfPeopleVOCA').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for item in clinicalVoca %} '{{item.entry_date}}', {% endfor %}],
        datasets: [{
						label: '# of continuing clients',
						data: [{% for item in clinical %} {{item.total_continue}},
									{% endfor %}],
						backgroundColor: "#CD5C5C",
						borderColor: "#EC7063",
						borderWidth: 1
					}, {
						data: [{% for item in clinicalVoca %} {{item.total_new}},
									{% endfor %}],
						label: "# of new clients",
						backgroundColor : "#FFFFE0" ,
						borderColor: "#FFFF33",
						borderWidth: 1,
						fill: false
					}, {
						data: [{% for item in clinicalVoca %} {{item.total_sess}},
									{% endfor %}],
						label: "# of Sessions (Total)",
						backgroundColor : "#D2B4DE" ,
						borderColor: "#8e5ea2",
						borderWidth: 1,
						fill: false
					}]

    },
    options: {
		layout: {
			padding: {
				left: 100,
				right: 100,
				top: 20,
				bottom: 50
			}
		},
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
		title: {
			display: true,
			fontSize: 18,
			text: 'Monthly Count of Individuals and Sessions (Clinical VOCA)'
		}
    }
});

new Chart(document.getElementById("ageOfPeopleVOCA"), {
	type: 'doughnut',
	data: {
		labels: ["Age 0-12", "Age 13-17","Age 18-24","Age 25-59","Age 60+"],
		datasets: [{
			label: "Age Groups",
			backgroundColor: ["#b654de", "#702f8a","#007377","#13bcbf","#ffd100"],
			data: {{ clinicalVocaAges|safe }},
		}]
	},
	options: {
		layout: {
			padding: {
				left: 100,
				right: 100,
				top:20,
				bottom: 50
			}
		},
		title: {
			display: true,
			fontSize: 18,
			text: 'Age Group Breakdown (Clinical VOCA)'
		}
	}
});


</script>
{% endblock graphs %}
