{% extends "mainPage/base.html" %}

{% block content %}
	<!-- Dashboard Title -->
		<section id="crisis_line-link" class="two">
			<div class="container">

				<header>
					<h2>Crisis Line Dashboard Data</h2>
				</header>

				<canvas id="totalCalls" width="50" height="20"></canvas>
				<canvas id="highestCalls" width="50" height="20"></canvas>
				<canvas id="howSAC" width="50" height="20"></canvas>
				<canvas id="numberMinors" width="50" height="20"></canvas>
			</div>
		</section>
{% endblock content %}


{% block graphs %}
<script>
	var ctx = document.getElementById('totalCalls').getContext('2d');
	var myChart = new Chart(ctx, {
	    type: 'bar',
	    data: {
	        labels: [{% for item in qs %} '{{item.entry_date}}', {% endfor %}],
	        datasets: [{
	            label: 'Total Number of Calls',
	            data: [{% for item in qs %} {{item.total_calls}},
										{% endfor %}],
							backgroundColor: "#CD5C5C",
							borderColor: "#EC7063",
	            borderWidth: 1
	        }]
	    },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero: true
	                }
	            }]
	        },
					title: {
		        display: true,
		        text: 'Monthly Count of Calls (Total)'
		      }
	    }
	});

	var ctx = document.getElementById('highestCalls').getContext('2d');
	var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
					labels: [{% for item in qs %} '{{item.entry_date}}', {% endfor %}],
					datasets: [{
							label: 'Highest Number of Calls',
							data: [{% for item in qs %} {{item.highest_calls}},
										{% endfor %}],
							backgroundColor: "#3e95cd",
							borderColor: "#8e5ea2",
							borderWidth: 1
					}]
			},
			options: {
					scales: {
							yAxes: [{
									ticks: {
											beginAtZero: true
									}
							}]
					},
					title: {
						display: true,
						text: 'Monthly Count of Calls (Highest)'
					}
			}
	});

	new Chart(document.getElementById("howSAC"), {
	    type: 'pie',
	    data: {
	      labels: ["TV Commercial", "Radio", "Website", "Social Media",
								"Friend/Family Member", "Medical Professional","Other"],
	      datasets: [{
	        label: "How They Heard",
	        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
	        data: {{ how|safe }}
	      }]
	    },
	    options: {
	      title: {
	        display: true,
	        text: 'How they heard about SAC'
	      }
	    }
	});

	var ctx = document.getElementById('numberMinors').getContext('2d');
	var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
					labels: [{% for item in qs %} '{{item.entry_date}}', {% endfor %}],
					datasets: [{
							label: 'Total Number of Minors',
							data: [{% for item in qs %} {{item.demographic_minors}},
										{% endfor %}],
							backgroundColor: "#CD5C5C",
							borderColor: "#EC7063",
							borderWidth: 1
					}]
			},
			options: {
					scales: {
							yAxes: [{
									ticks: {
											beginAtZero: true
									}
							}]
					},
					title: {
						display: true,
						text: 'Monthly highest # of minors'
					}
			}
	});

</script>

{% endblock graphs %}
