{% extends "mainPage/base.html" %}

{% block title %}
	<title>Crisis Line Dashboard | SAC</title>
{% endblock title %}

{% block content %}
	<!-- Dashboard Title -->
		<section id="crisis_line-link" class="two">
			<div class="container">

				<header>
					<h2>Crisis Line Dashboard Data</h2>
				</header>
			</div>
		</section>

				<canvas id="totalCalls" width="50" height="20"></canvas>
				<canvas id="highestCalls" width="50" height="20"></canvas>
				<canvas id="howSAC" width="50" height="20"></canvas>
				<canvas id="numberMinors" width="50" height="20"></canvas>

{% endblock content %}


{% block graphs %}
<script>
	var ctx = document.getElementById('totalCalls').getContext('2d');
	var totalCalls = new Chart(ctx, {
	    type: 'bar',
	    data: {
	        labels: [{% for key, value in totalCalls.items %} '{{ key }}', {% endfor %}],
	        datasets: [{
	            label: 'Total Number of Calls',
	            data: [{% for key, value in totalCalls.items %} {{ value }},
										{% endfor %}],
							backgroundColor: "#CD5C5C",
							borderColor: "#EC7063",
	            borderWidth: 1
	        }]
	    },
	    options: {
			layout: {
				padding: {
					left: 100,
					right: 100,
					top: 60,
					bottom: 50
				}
			},
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero: true
	                }
	            }]
	        },
					title: {
				display: true,
				fontSize: 18,
		        text: 'Monthly Count of Calls (Total)'
		      }
	    }
	});

	var ctx = document.getElementById('highestCalls').getContext('2d');
	var highestCalls = new Chart(ctx, {
			type: 'bar',
			data: {
	        labels: [{% for key, value in highCalls.items %} '{{ key }}', {% endfor %}],
	        datasets: [{
	            label: 'Total Number of Calls',
	            data: [{% for key, value in highCalls.items %} {{ value }},
										{% endfor %}],
							backgroundColor: "#CD5C5C",
							borderColor: "#EC7063",
	            borderWidth: 1
	        }]
	    },
			options: {
				layout: {
					padding: {
						left: 100,
						right: 100,
						top: 20,
						bottom: 50
					}
				},
				scales: {
						yAxes: [{
								ticks: {
										beginAtZero: true
								}
						}]
				},
				title: {
					display: true,
					fontSize: 18,
					text: 'Monthly Count of Calls (Highest)'
				}
			}
	});

	new Chart(document.getElementById("howSAC"), {
	    type: 'pie',
	    data: {
	      labels: ["TV Commercial", "Radio", "Website", "Social Media",
								"Friend/Family Member", "Medical Professional","Other"],
	      datasets: [{
	        label: "How They Heard",
	        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#ffd000"],
	        data: {{ how|safe }}
	      }]
	    },
	    options: {
			layout: {
				padding: {
					left: 100,
					right: 100,
					top: 20,
					bottom: 50
				}
			},
	      title: {
			display: true,
			fontSize: 18,
	        text: 'How they heard about SAC'
	      }
	    }
	});

	var ctx = document.getElementById('numberMinors').getContext('2d');
	var numMinors = new Chart(ctx, {
			type: 'bar',
			data: {
	        labels: [{% for key, value in numMinors.items %} '{{ key }}', {% endfor %}],
	        datasets: [{
	            label: 'Total Number of Calls',
	            data: [{% for key, value in numMinors.items %} {{ value }},
										{% endfor %}],
							backgroundColor: "#CD5C5C",
							borderColor: "#EC7063",
	            borderWidth: 1
	        }]
	    },
			options: {
				layout: {
					padding: {
						left: 100,
						right: 100,
						top: 20,
						bottom: 50
					}
				},
					scales: {
							yAxes: [{
									ticks: {
											beginAtZero: true
									}
							}]
					},
					title: {
						display: true,
						fontSize: 18,
						text: 'Monthly highest # of minors'
					}
			}
	});
clean(totalCalls);
clean(highestCalls);
clean(numMinors);
</script>

{% endblock graphs %}
