{% extends "mainPage/base.html" %}

{% block title %}
	<title>Main Dashboard | SAC</title>
{% endblock title %}

{% block content %}
	<!-- Dashboard Title -->
		<section id="index-link" class="two">
			<div class="container">

				<header>
					<h2>Welcome to SAC's Main Dashboard</h2>
					<p>This page contains specific graphs selected from each team. For all team-specific dashboards and data entry, use the navigation bar to the left.</p>
				</header>

			</div>
		</section>
		<div class = "container">
			<canvas id="numberOfPeopleClinical" width="50" height="25"></canvas>
			<canvas id="numberOfPeopleClinicalVOCA" width="50" height="25"></canvas>
			<canvas id="ageOfPeopleClinical" width="50" height="25"></canvas>
			<canvas id="ageOfPeopleClinicalVOCA" width="50" height="25"></canvas>
			<canvas id="numberOfPeopleAdvocacy" width="50" height="25"></canvas>
			<canvas id="ageOfPeopleAdvocacy" width="50" height="25"></canvas>
		</div>

{% endblock content %}

{% block graphs %}
<script>
var ctx = document.getElementById('numberOfPeopleClinical').getContext('2d');
var numPeopleClinical = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for key, value in clinicalS.items %} '{{ key }}', {% endfor %}],
        datasets: [{
        label: '# of continuing clients',
        data: [{% for key, value in clinicalC.items %} {{ value }},
							{% endfor %}],
        backgroundColor: "#CD5C5C",
        borderColor: "#EC7063",
        borderWidth: 1
		    }, {
					data: [{% for key, value in clinicalN.items %} {{ value }},
								{% endfor %}],
		      label: "# of new clients",
					backgroundColor : "#FFFFE0" ,
		      borderColor: "#FFFF33",
					borderWidth: 1,
		      fill: false
				}, {
					data: [{% for key, value in clinicalS.items %} {{ value }},
								{% endfor %}],
		      label: "# of Sessions (Total)",
					backgroundColor : "#D2B4DE" ,
		      borderColor: "#8e5ea2",
					borderWidth: 1,
		      fill: false
				}]
    },
    options: {
		layout: {
			padding: {
				left: 20,
				right: 20,
				top: 20,
				bottom: 50
			}
		},
		title: {
			display: true,
			fontSize: 18,
			text: 'Monthly Count of Individuals and Sessions (Clinical)'
		},
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var ctx = document.getElementById('numberOfPeopleClinicalVOCA').getContext('2d');
var numPeopleClinicalVoca = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for key, value in clinicalVocaS.items %} '{{ key }}', {% endfor %}],
        datasets: [{
        label: '# of continuing clients',
        data: [{% for key, value in clinicalVocaC %} {{ value }},
							{% endfor %}],
        backgroundColor: "#CD5C5C",
        borderColor: "#EC7063",
        borderWidth: 1
		    }, {
					data: [{% for key, value in clinicalVocaN.items %} {{ value }},
								{% endfor %}],
		      label: "# of new clients",
					backgroundColor : "#FFFFE0" ,
		      borderColor: "#FFFF33",
					borderWidth: 1,
		      fill: false
				}, {
					data: [{% for key, value in clinicalVocaS.items %} {{ value }},
								{% endfor %}],
		      label: "# of Sessions (Total)",
					backgroundColor : "#D2B4DE" ,
		      borderColor: "#8e5ea2",
					borderWidth: 1,
		      fill: false
				}]
    },
    options: {
		layout: {
			padding: {
				left: 20,
				right: 20,
				top: 20,
				bottom: 50
			}
		},
		title: {
			display: true,
			fontSize: 18,
			text: 'Monthly Count of Individuals and Sessions (Clinical VOCA)'
		},
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

new Chart(document.getElementById("ageOfPeopleClinical"), {
	type: 'doughnut',
	data: {
		labels: ["Age 0-12", "Age 13-17","Age 18-24","Age 25-59","Age 60+"],
		datasets: [{
			labels: ["Age 0-12", "Age 13-17","Age 18-24","Age 25-59","Age 60+"],
			data: {{ clinicalAges|safe }},
			label: "Age Groups",
			backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
		}]
	},
	options: {
		layout: {
			padding: {
				left: 20,
				right: 20,
				top:20,
				bottom: 50
			}
		},
		title: {
			display: true,
			fontSize: 18,
			text: 'Age Group Breakdown, Recent 12 Months (Clinical)'
		}
	}
});

new Chart(document.getElementById("ageOfPeopleClinicalVOCA"), {
	type: 'doughnut',
	data: {
		labels: ["Age 0-12", "Age 13-17","Age 18-24","Age 25-59","Age 60+"],
		datasets: [{
			label: "Age Groups",
			backgroundColor: ["#b654de", "#702f8a","#007377","#13bcbf","#ffd100"],
			data: {{ clinicalVocaAges|safe }},
		}]
	},
	options: {
		layout: {
			padding: {
				left: 20,
				right: 20,
				top:20,
				bottom: 50
			}
		},
		title: {
			display: true,
			fontSize: 18,
			text: 'Age Group Breakdown, Recent 12 Months (Clinical VOCA)'
		}
	}
});

var ctx = document.getElementById('numberOfPeopleAdvocacy').getContext('2d');
var numPeopleAdvocacy = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for key, value in advocacyC.items %} '{{ key }}', {% endfor %}],
        datasets: [{
        label: '# of continuing clients',
        data: [{% for key, value in advocacyC.items %} {{ value }},
							{% endfor %}],
        backgroundColor: "#CD5C5C",
        borderColor: "#EC7063",
        borderWidth: 1
		    }, {
					data: [{% for key, value in advocacyN.items %} {{ value }},
								{% endfor %}],
		      label: "# of new clients",
					backgroundColor : "#FFFFE0" ,
		      borderColor: "#FFFF33",
					borderWidth: 1,
		      fill: false
				}, {
					data: [{% for key, value in advocacyS.items %} {{ value }},
								{% endfor %}],
		      label: "# of Sessions (Total)",
					backgroundColor : "#D2B4DE" ,
		      borderColor: "#8e5ea2",
					borderWidth: 1,
		      fill: false
				}]
    },
    options: {
			layout: {
				padding: {
					left: 20,
					right: 20,
					top: 20,
					bottom: 50
				}
			},
			title: {
				display: true,
				fontSize: 18,
				text: 'Monthly Count of Individuals and Sessions (Advocacy)'
			},
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero: true
	                }
	            }]
	        }
    }
});

new Chart(document.getElementById("ageOfPeopleAdvocacy"), {
    type: 'doughnut',
    data: {
      labels: ["Age 0-12", "Age 13-17","Age 18-24","Age 25-59","Age 60+"],
      datasets: [{
        label: "Age Groups",
        backgroundColor: ["#b654de", "#702f8a","#007377","#13bcbf","#ffd100"],
        data: {{ advocacyAges|safe }},
      }]
    },
    options: {
		layout: {
			padding: {
				left: 20,
				right: 20,
				top:20,
				bottom: 50
			}
		},
		title: {
			display: true,
			fontSize: 18,
			text: 'Age Group Breakdown, Recent 12 Months (Advocacy)'
		}
    }
});
clean(numPeopleClinical);
clean(numPeopleClinicalVoca);
clean(numPeopleAdvocacy);

</script>


{% endblock graphs %}
