{% extends "mainPage/base.html" %}

{% block content %}
	<!-- Dashboard Title -->
		<section id="index-link" class="two">
			<div class="container">

				<header>
					<h2>Welcome to SAC's Main Dashboard</h2>
					<p>This page contains specific graphs selected from each team. For all team-specific dashboards and data entry, use the navigation bar to the left.</p>
				</header>

			</div>
		</section>
		<div class = "container">
			<canvas id="numberOfPeopleClinical" width="50" height="25"></canvas>
			<canvas id="numberOfPeopleClinicalVOCA" width="50" height="25"></canvas>
			<canvas id="ageOfPeopleClinical" width="50" height="25"></canvas>
			<canvas id="numberOfPeopleAdvocacy" width="50" height="25"></canvas>
			<canvas id="ageOfPeopleAdvocacy" width="50" height="25"></canvas>
		</div>

{% endblock content %}

{% block graphs %}
<script>
var ctx = document.getElementById('numberOfPeopleClinical').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for item in clinical %} '{{item.entry_date}}', {% endfor %}],
        datasets: [{
        label: '# of continuing clients',
        data: [{% for item in clinical %} {{item.total_continue}},
							{% endfor %}],
        backgroundColor: "#CD5C5C",
        borderColor: "#EC7063",
        borderWidth: 1
		    }, {
					data: [{% for item in clinical %} {{item.total_new}},
								{% endfor %}],
		      label: "# of new clients",
					backgroundColor : "#FFFFE0" ,
		      borderColor: "#FFFF33",
					borderWidth: 1,
		      fill: false
				}, {
					data: [{% for item in clinical %} {{item.total_sess}},
								{% endfor %}],
		      label: "# of Sessions (Total)",
					backgroundColor : "#D2B4DE" ,
		      borderColor: "#8e5ea2",
					borderWidth: 1,
		      fill: false
				}]
    },
    options: {
		layout: {
			padding: {
				left: 20,
				right: 20,
				top: 20,
				bottom: 50
			}
		},
		title: {
			display: true,
			fontSize: 18,
			text: 'Monthly Count of Individuals and Sessions (Clinical)'
		},
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var ctx = document.getElementById('numberOfPeopleClinicalVOCA').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for item in clinicalVoca %} '{{item.entry_date}}', {% endfor %}],
        datasets: [{
        label: '# of continuing clients',
        data: [{% for item in clinicalVoca %} {{item.total_continue}},
							{% endfor %}],
        backgroundColor: "#CD5C5C",
        borderColor: "#EC7063",
        borderWidth: 1
		    }, {
					data: [{% for item in clinicalVoca %} {{item.total_new}},
								{% endfor %}],
		      label: "# of new clients",
					backgroundColor : "#FFFFE0" ,
		      borderColor: "#FFFF33",
					borderWidth: 1,
		      fill: false
				}, {
					data: [{% for item in clinicalVoca %} {{item.total_sess}},
								{% endfor %}],
		      label: "# of Sessions (Total)",
					backgroundColor : "#D2B4DE" ,
		      borderColor: "#8e5ea2",
					borderWidth: 1,
		      fill: false
				}]
    },
    options: {
		layout: {
			padding: {
				left: 20,
				right: 20,
				top: 20,
				bottom: 50
			}
		},
		title: {
			display: true,
			fontSize: 18,
			text: 'Monthly Count of Individuals and Sessions (Clinical VOCA)'
		},
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

new Chart(document.getElementById("ageOfPeopleClinical"), {
	type: 'doughnut',
	data: {
		labels: ["Age 0-12", "Age 13-17","Age 18-24","Age 25-59","Age 60+"],
		datasets: [{
			labels: ["Age 0-12", "Age 13-17","Age 18-24","Age 25-59","Age 60+"],
			data: {{ clinicalAges|safe }},
			label: "Age Groups",
			backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
		}]
	},
	options: {
		title: {
			display: true,
			text: 'Age Group Breakdown (Clinical)'
		}
	}
});

var ctx = document.getElementById('numberOfPeopleAdvocacy').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for item in qs %} '{{item.entry_date}}', {% endfor %}],
        datasets: [{
        label: '# of continuing clients',
        data: [{% for item in advocacy %} {{item.total_continue}},
							{% endfor %}],
        backgroundColor: "#CD5C5C",
        borderColor: "#EC7063",
        borderWidth: 1
		    }, {
					data: [{% for item in advocacy %} {{item.total_new}},
								{% endfor %}],
		      label: "# of new clients",
					backgroundColor : "#FFFFE0" ,
		      borderColor: "#FFFF33",
					borderWidth: 1,
		      fill: false
				}, {
					data: [{% for item in advocacy %} {{item.total_sess}},
								{% endfor %}],
		      label: "# of Sessions (Total)",
					backgroundColor : "#D2B4DE" ,
		      borderColor: "#8e5ea2",
					borderWidth: 1,
		      fill: false
				}]
    },
    options: {
		layout: {
			padding: {
				left: 20,
				right: 20,
				top: 20,
				bottom: 50
			}
		},
		title: {
			display: true,
			text: 'Monthly Count of Individuals and Sessions (Advocacy)'
		},
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

new Chart(document.getElementById("ageOfPeopleAdvocacy"), {
    type: 'doughnut',
    data: {
      labels: ["Age 0-12", "Age 13-17","Age 18-24","Age 25-59","Age 60+"],
      datasets: [{
        label: "Age Groups",
        backgroundColor: ["#b654de", "#702f8a","#007377","#13bcbf","#ffd100"],
        data: {{ advocacyAges|safe }},
      }]
    },
    options: {
		layout: {
			padding: {
				left: 20,
				right: 20,
				top:0,
				bottom: 50
			}
		},
		title: {
			display: true,
			text: 'Age Group Breakdown (Advocacy)'
		}
    }
});

</script>


{% endblock graphs %}
