{% extends "mainPage/base.html" %}

{% block title %}
	<title>OV Dashboard | SAC</title>
{% endblock title %}

{% block content %}
	<!-- Dashboard Title -->
		<section id="index-link" class="two">
			<div class="container">

				<header>
					<h2>OV Team Dashboards</h2>
				</header>

			</div>
		</section>
		<canvas id="numberOfPeople" width="50" height="20"></canvas>
		<canvas id="ageOfPeople" width="50" height="20"></canvas>
{% endblock content %}

{% block graphs %}
<script>
var ctx = document.getElementById('numberOfPeople').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for key, value in ov.items %} '{{ key }}', {% endfor %}],
				datasets: [{
            label: 'Total OVs',
            data: [{% for key, value in ov.items %} {{ value }},
									{% endfor %}],
						backgroundColor: "#CD5C5C",
						borderColor: "#EC7063",
						borderWidth: 1
        }]
    },
    options: {
		layout: {
			padding: {
				left: 100,
				right: 100,
				top: 60,
				bottom: 50
			}
		},
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
		title: {
			display: true,
			fontSize: 18,
	        text: 'Monthly Count of OVs'
	      }
    }
});

new Chart(document.getElementById("ageOfPeople"), {
	type: 'doughnut',
	data: {
		labels: ["Age 0-12", "Age 13-17","Age 18-24","Age 25-59","Age 60+"],
		datasets: [{
			label: "Age Groups",
			backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
			data: {{ ovAges|safe }}
		}]
	},
	options: {
		layout: {
			padding: {
				left: 100,
				right: 100,
				top: 20,
				bottom: 50
			}
		},
		title: {
			display: true,
			fontSize: 18,
			text: 'Age Group Breakdown, Recent 12 Months (OV)'
		}
	}
});
clean(myChart);
</script>

{% endblock graphs %}
