{% extends "mainPage/base.html" %}

{% block content %}
	<!-- Dashboard Title -->
		<section id="index-link" class="two">
			<div class="container">

				<header>
					<h2>OV Team Dashboards</h2>
				</header>

			</div>
		</section>
		<canvas id="numberOfPeople" width="50" height="20"></canvas>
		<canvas id="ageOfPeople" width="50" height="20"></canvas>
{% endblock content %}

{% block graphs %}
<script>
var ctx = document.getElementById('numberOfPeople').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for item in ov %} '{{item.entry_date}}', {% endfor %}],
				datasets: [{
            label: 'Total OVs',
            data: [{% for item in ov %} {{item.total_OV}},
									{% endfor %}],
						backgroundColor: "#CD5C5C",
						borderColor: "#EC7063",
						borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

new Chart(document.getElementById("ageOfPeople"), {
    type: 'pie',
    data: {
      labels: ["Age 0-12", "Age 13-17","Age 18-24","Age 25-59","Age 60+"],
      datasets: [{
        label: "Age Groups",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: [{% for item in ov %} {{item.age_0_12}},{{item.age_13_17}},
				{{item.age_18_24}}, {{item.age_25_59}}, {{item.age_60_plus}},
				{% endfor %}]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Percentage of People in Different Age Groups'
      }
    }
});
</script>
{% endblock graphs %}
