{% extends "mainPage/base.html" %}

{% block content %}
	<!-- Dashboard Title -->
		<section id="prevention-link" class="two">
			<div class="container">

				<header>
					<h2>Prevention Team Dashboard</h2>
				</header>
				<p>Overall number of trainings: {{ overallNumTrainings|safe }}</p>
				<canvas id="numAttendees" width="50" height="20"></canvas>
			</div>
		</section>
{% endblock content %}

{% block graphs %}
<script>

	var ctx = document.getElementById('numAttendees').getContext('2d');
	var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
					labels: [{% for item in prevention %} '{{item.entry_date}}', {% endfor %}],
					datasets: [{
							label: '# of Attendees',
							data: [{% for item in prevention %} {{item.num_attendees}},
										{% endfor %}],
							backgroundColor: "#3e95cd",
							borderColor: "#8e5ea2",
							borderWidth: 1
					}]
			},
			options: {
					scales: {
							yAxes: [{
									ticks: {
											beginAtZero: true
									}
							}]
					},
					title: {
						display: true,
						text: 'Monthly Number of Attendees'
					}
			}
	});

</script>

{% endblock graphs %}
